@model Libreria.Models.libros

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>libros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_libro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_libro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
